/*===== RESET DEFAULTS =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*====== GLOBAL STYLES =====*/
body{
    font-family: Arial, sans-serif;
    color: #333;
    background: color #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/*===== HEADER STYLES =====*/
header{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}


/*===== NAVIGATION STYLES =====*/
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover{
    text-decoration: underline;
}

/*===== IMAGE STYLES =====*/
main img {
padding: 20px;
max-width: 10px;
margin: 0 auto;
}

main img {
    max-width: 30%;
    height: 10%;
    display: block;
    margin: 20px 0;
}


/*===== PARAGRAPH STYLES =====*/
p {
    font-size: 1.1em;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

/*===== LINK HOVER EFFECT =====*/
a:hover {
    text-decoration: underline;
}

/*===== IMAGE STYLES =====*/
img {
border: 5px solid #4CAF50;
border-radius: 10px;
}

/*===== EMAIL LINK STYLES =====*/
main a[href^="mailto:"]{
    color: #ff5722;
    font-weight: bold;
}

/*===== FOOTER STYLES =====*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

